$border: 2px solid black;

.catalog-item {
     background: white;
     color: black;

     border-left: 2px solid black;
     border-right: 2px solid black;
     border-top: $border;

     font: 25pt Arial;
     text-decoration: none;

     display: flex;
}

.catalog-item:first-child {
     border-radius: 20px 20px 0 0;
}

.catalog-item:last-child {
     border-radius: 0 0 20px 20px;
     border-bottom: 2px solid black;
}

.catalog-item:hover {
     background: black;
     color: white;
}

.catalog-item * {
     margin: 5px 10px;
}

.catalog-item-index {
     width: 55px;
     text-align: center;
     border-right: 2px solid black;
}

.catalog-item-info {
     flex: 1;
     text-align: center;
}

.catalog-item-info:not(:last-child) {
     border-right: 2px solid black;
}

.catalog-item-info:hover:not(:last-child) {
     border-right: 2px solid white;
}

.catalog-item-name {
     flex: 2;
}

.catalog-item-name * {
     margin: 0;
}